.message-output-section {
    width: 90%;

    .output-title {
        border-bottom: 1px solid gray;

        div {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 0;
            flex-wrap: wrap;

            p {
                font-size: 0.8rem;
                color: gray;
            }
        }
    }

    .output-body {

        p {
            margin-top: 2rem;
            font-size: 0.9rem;
        }
    }

}