.inbox-and-messages {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .messages-section {
        display: flex;
        width: 25rem;
        flex-direction: column;
        overflow: scroll;
        height: 85vh;
        position: relative;
        margin-right: 2.5rem;
    
        .search-field {
            width: 100%;
            position: sticky;
            top: 0;
            z-index: 2;
            margin-bottom: 1rem;
            background-color: white;
            padding-bottom: 1rem;
    
            input {
                width: 100%;
                background-color: white;
                height: 2rem;
                border: solid 1px gray;
                padding-left: 1rem;
                border-radius: 0.3rem;
            }
        }
        
    
        .message-box {
            width: 100%;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            color: #121212;
            transition: 0.3s; 
    
            .message-title {
                display: flex;
                height: 2rem;
                border: 1px solid black;
                border-radius: 0.3rem 0.3rem 0 0; 
                align-items: center;
                overflow: hidden;
                justify-content: space-between;
                position: relative;
    
                h4 {
                    margin-left: 1rem;
                    font-size: 0.9rem;
                }
    
                .checkbox {
                    height: 100%;
                    width: 30%;
                    transform: skewX(-40deg);
                    position: absolute;
                    right: -1rem;
                    cursor: pointer;
                    transition: 0.3s;          
                }

                .checked {
                    background-color: rgb(107, 107, 253) !important;
                }
    
                #active {
                    background-color: #E78C00;
                }
    
                #inactive {
                    background-color: #B3B3B3;
                }
            }

            .message-body-tablet-mobile {
                display: none;
            }

            a {
                color: #121212;
                text-decoration: none;
            }
    
            .message-body, .message-body-tablet-mobile {
                border-top: none !important;
                border: 1px solid black;
                border-radius: 0 0 0.3rem 0.3rem;
                height: 5rem;
                position: relative; 
                font-size: 0.7rem;
                cursor: pointer; 

                
                .message-text {
                    max-width: 90%;
                    width: 90%;
                    padding: 0.5rem 1rem;
                    -moz-binding: url(resource:/xml/ellipsis.xml#ellipsis);
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    border-top: solid white 1px;
                    border-radius: 0 !important;
                    text-align: start;
                }
    
                .message-time {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 1rem;
                    font-weight: bold;
                }
            }

            @media screen and (max-width: 768px) {
                .message-body {
                    display: none;
                }

                .message-body-tablet-mobile {
                    display: inline;
                }
            }
        }

        .message-box:hover {
            background-color: #e7e7e7;
        }
    }

    @media screen and (max-width: 768px) {
        .messages-section {
            width: 100%;
            margin-right: 0;
        }
    }  
}